05- AI Voice Scheduling Agent/AI Scheduling Agent.json
{
  "name": "AI Scheduling Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -480
      ],
      "id": "9dd0e09f-c664-48b6-b288-464de11bfeab",
      "name": "Webhook",
      "webhookId": "3f499a86-a09c-4a84-95a5-c90068053c07"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Use this tool to look up a person's contact details in the Contacts Google Sheet.\nUse it when the user mentions a person and you need their email or phone number.\n\nInput:\ncontact_name: name of the person.\n\nReturns:\nName, Email, and Phone.",
        "documentId": {
          "__rl": true,
          "value": "1OQkApn8HRqf2jXYgdpbx4N_SWQetY9NODm-vbvVdwEE",
          "mode": "list",
          "cachedResultName": "AI Receptionist Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OQkApn8HRqf2jXYgdpbx4N_SWQetY9NODm-vbvVdwEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OQkApn8HRqf2jXYgdpbx4N_SWQetY9NODm-vbvVdwEE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $fromAI(\"contact_name\", \"Name of the person to search in the contacts sheet\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -144,
        -144
      ],
      "id": "5429d7d1-e79e-4716-b38f-2edfedf9899a",
      "name": "Get Contacts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D190PUY6YQDVUM3y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send a message iUse this tool to send a confirmation or reminder email after scheduling a meeting.\n\nInputs:\nattendee_email - email address of the attendee\nsubject - subject of the email\nmessage_body - email body text\n\nRules:\n- Always send the email to both the attendee and me.\n- My email address is maths.ace.it@gmail.com.\n- Send the email only after the calendar event has been created successfully.",
        "sendTo": "={{ $fromAI(\"attendee_email\", \"Email address of the attendee\") }}, maths.ace.it@gmail.com",
        "subject": "={{ $fromAI(\"subject\", \"Subject of the email\") }}",
        "message": "={{ $fromAI(\"message_body\", \"Body of the email\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        208,
        -144
      ],
      "id": "945fcbd7-42e4-44d0-9428-8acb1272abe2",
      "name": "Send Email",
      "webhookId": "50f753b4-ffbc-4c33-b4a5-5407753c6cf8",
      "credentials": {
        "gmailOAuth2": {
          "id": "w54XfFNmysALCqCj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        176,
        -480
      ],
      "id": "a8837efd-39c2-400a-b8f7-259ce416b01c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tool MUST be used to create the event in Google Calendar when the user asks to schedule or create a meeting or event.\n\nRequired inputs:\ntitle – title of the event\nstart_time – start date and time in ISO format with timezone Asia/Karachi (UTC+05:00) (example: 2024-12-25T14:00:00)\nend_time – end date and time in ISO format with timezone Asia/Karachi (UTC+05:00)\n\nRules:\n- If the user provides a duration (for example \"1 hour\", \"30 minutes\"), calculate the end_time accordingly.\n- If the user provides both start and end time, use them exactly.\n- If the user provides only a start time and no duration, assume a 1 hour meeting.\n\nReturn confirmation after the event is created.",
        "calendar": {
          "__rl": true,
          "value": "=maths.ace.it@gmail.com",
          "mode": "id"
        },
        "start": "={{ $fromAI(\"start_time\", \"Start datetime in ISO format with timezone Asia/Karachi (UTC+05:00) like 2026-03-14T15:00:00+05:00\") }}",
        "end": "={{ $fromAI(\"end_time\", \"End datetime in ISO format with timezone Asia/Karachi (UTC+05:00) like 2026-03-14T16:00:00+05:00\") }}",
        "useDefaultReminders": "={{ true }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendee_email\", \"Email address of the attendee to invite\") }}"
          ],
          "sendUpdates": "all",
          "summary": "={{ $fromAI(\"title\", \"The title of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        32,
        -144
      ],
      "id": "67b36d6f-beeb-4002-9bdd-ad2ff9d62e6b",
      "name": "Schedule Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "14ZaMB2KL0tGafwg",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{$json.body.chatInput}}",
        "options": {
          "systemMessage": "=You are a helpful assistant connected to tools.\n\nRules:\n- Use the contacts tool if the user asks for an email or phone number.\n\n- When the user asks to schedule an event, you MUST call the calendar tool and create a real event in Google Calendar.\n\n- Inputs required:\ntitle – title of the event\nstart_time – start datetime in ISO format like 2026-03-15T15:00:00\nend_time – end datetime in ISO format like 2026-03-15T16:00:00\n\n- Do not respond that the meeting is scheduled unless the tool has been executed successfully.\n- After receiving the tool results, answer the user immediately.\n- Do not call the same tool repeatedly.\n- If the tool returns data, extract the answer and respond.\n- If no results are found, say the contact was not found.\n\nAlways finish with a final answer.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -544
      ],
      "id": "236c1602-ea8a-4e47-80d2-2f35e4d6404d",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "o1",
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -304,
        -336
      ],
      "id": "550500d1-6e2d-4a81-9e50-c7019af64f0e",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Lbp4RhQ2wattvclS",
          "name": "Azure Open AI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Karachi",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "29921f9c-d447-407d-99e3-dffd2c76a9f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8456a355afc9f4c844c72134bd01419a84c8abf10d16d9474039d2127f154e3"
  },
  "id": "1QtxSn9cXGboBuallXVxN",
  "tags": []
}